# use this file if you wish to include non-python files
# reference: https://packaging.python.org/en/latest/guides/using-manifest-in/
# example (include all files under this directory)
graft src/$name/assets/